<div class="form-body">
    <form
      autocomplete="off"
      [formGroup]="createForm"
      (ngSubmit)="onCreate(createForm.value)"
    >
 
    <div class="form-group">
        <label for="id">Title</label>
        <input type="text" formControlName="id" autocomplete="off" />
    </div>

    <div class="form-group">
        <label for="postContent">Post Content</label>
        <textarea id="name" class="form-control" rows="4"></textarea>
    </div>

    <div class="form-group">
        <label for="imageUpload">Upload Image</label>
        <input type="file" id="imageUpload" class="form-control-file">
    </div>
    
    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" id="tags" class="form-control" placeholder="Add tags">
    </div>

    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <section class="blog-section">
    <h2>Latest Blog Posts</h2>
    <div class="blog-post"  *ngFor="let blog of blogs">
      <h3>{{ blog?.id }}</h3>
      <p>{{ blog?.name }}</p>
      <p>{{ blog?.createdBy }}</p>
      <a href="#" class="read-more">Read More</a>
    </div>
    <button *ngIf="showReadMoreButton" (click)="loadMoreItems()"> More</button>
  </section>

 